

  <!-- Modal Trigger -->
  <!--<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>-->

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h6>Get Product Details</h6>


      <div class="row">
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="remail" class="materialize-textarea"></textarea>
          <label for="remail">Your Email</label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
        <a id={{product.id}}  href="#!" class="modal-close waves-effect waves-light btn"><i class="material-icons right">send</i>send</a>

    </div>
  </div>